body, html {
  font-family: "EB Garamond", serif;
  font-size: 1em;
  background-color: #F2F2F2;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 1px solid;
  background-color: #D1D7E0;
}

header {
  margin: 10px;
  text-align: center;
  font-size: 1.7em;
}


#main-doc header{
  text-align: left;
  margin: 0;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

#navbar ul {
  height: 80%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}


#navbar a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

#navbar header {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 100px;
}

section article {
  font-size: 16px;
  margin: 15px;
}

section li {
  margin: 15px 0px 10px 20px;
}

code {
  background-color: white;
}

@media (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 158px;
  }
  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 1px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}


@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
}






